html {
    scroll-behavior: smooth;
  }
body {
  font-family: Inter;
  background-image: url("./assets/hero.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navigation-logo {
    display: flex;
    align-items: center;
    justify-content: center;   
}
.navigation {
  display: flex;
  list-style: none;
}
.logo h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 38.73px;
  color: #ffffff;
}
.navigation nav {
  display: flex;
}
.navigation nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.navigation nav ul li {
  margin-right: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 350;
}
.navigation nav ul li a {
  text-decoration: none;
  color: inherit;
}
.get-in-touch {
  background-color: #d4af73;
  width: 177px;
  height: 56px;
  border: #d4af73 1px solid;
}
#home {
  height: 100vh;
}
.home-text {
  margin-top: 18rem;
  margin-left: 12rem;
  width: 624px;
  height: 377px;
}
.home-text h2 {
  width: 491px;
  height: 145px;
  font-family: Alegreya;
  font-weight: 700;
  font-size: 75px;
  color: #d4af73;
}
.home-text p {
  color: #ffffff;
}
.home-button {
  width: 162px;
  height: 56px;
  background-color: #d4af73;
  border: 1px solid;
}
.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-image {
  width: 596px;
  height: 637px;
  margin-left: 5rem;
  margin-right: 3rem;
}
.about-text {
  font-size: 24px;
  font-weight: 340;
}
.about-text h2 {
  font-family: Alegraya;
  font-size: 40px;
}
.about-text p {
  width: 234px;
  height: 29px;
}
.about-text .p2 {
  width: 584px;
  height: 116px;
  padding-bottom: 2rem;
}
.about-button {
  background-color: black;
  color: white;
  width: 170px;
  height: 56px;
  font-size: 18px;
  border: 1px solid;
}
.our-services-header {
  padding-top: 6rem;
  font-family: Alegreya;
  text-align: center;
  font-size: 40px;
}
.services-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.services {
  width: 307px;
  height: 248px;
  background-color: #f6ede0;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
.services h3 {
  font-size: 15px;
  text-align: center;
}
.services-2 {
  width: 307px;
  height: 248px;
  background-color: #f1f1f1;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
.services-2 h3 {
  font-size: 15px;
  text-align: center;
}
.sector-image {
  width: 596px;
  height: 622px;
}
.sector-container {
  display: flex;
  padding: 7rem;
}
.sector-text h2 {
  font-size: 40px;
  font-family: Alegreya;
  margin-left: 3rem;
}
.first-sector-text h2 {
  font-size: 40px;
  font-family: Alegreya;
}
.first-list-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.first-list-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(212, 175, 115, 22%);
  height: 30px;
  margin-right: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 390;
  padding: 0.5rem;
}
.sector-paragraph {
  margin-left: 3rem;
}
.list-text {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 3rem;
}
.list-text p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(212, 175, 115, 22%);
  height: 30px;
  margin-right: 1rem;
  text-align: center;
  font-size: 16px;
  font-weight: 390;
  padding: 0.5rem;
}
.partner-text {
  width: 614px;
  height: 570px;
}
.partner-text h3 {
  font-weight: 500;
  width: 490px;
  font-size: 19px;
}
.partner-text p {
  font-weight: 350;
  width: 400px;
  font-size: 18px;
}
#partner-us {
  background-image: url("./assets/container.png");
  height: 692px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.patner-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.patner-image p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  width: 680px;
  height: 270px;
  font-size: 35px;
  font-family: Alegreya;
}
.partner-button {
  width: 162px;
  height: 56px;
  margin-top: -3rem;
  background-color: #d4af73;
  border: 1px solid;
}
.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact-header {
  text-align: center;
  font-family: Alegreya;
  font-size: 40px;
}
.contact-paragraph {
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-weight: 350;
  width: 628px;
}
.contact-upper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 623px;
}
.contacts img {
  width: 24px;
  height: 24px;
}
.contacts p {
  width: 150px;
  height: 22px;
  margin-left: 1rem;
  margin-right: 6rem;
}
form {
    padding: 2rem;
}
.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
#firstName {
    width: 299px;
    height: 63px;
    border-radius: 2px;
    border: #000000 1px solid;
    margin-right: 1.7rem;
    margin-bottom: 1rem;
}
#firstName-2 {
    width: 633px;
    height: 63px;
    border-radius: 2px;
    border: #000000 1px solid;
    margin-bottom: 1rem;
}
.form-group-2 input::placeholder {
    font-size: 20px;
    color: #000000;
    font-weight: lighter;
}
.form-group input::placeholder {
    font-size: 20px;
    color: #000000;
    font-weight: lighter;
}
#more-info {
    width: 633px;
    height: 214px;
    border-radius: 2px;
    border: #000000 1px solid;
    margin-bottom: 1rem;
}
#submit {
    width: 247px;
    height: 63px;
    border-radius: 2px;
    border: #000000 1px solid;
    background-color: #ffffff;
}
footer {
    background-color: rgba(52, 52, 52, 1);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #ffffff;
}
footer p {
    font-size: 18px;
}
